%pills {
  [title^="Portable"],
  [title="Expansion"],
  [title="Unopened"] {
    align-self: start;
    border-radius: 999px;
    color: var(--bg-color);
    display: inline-flex;
    font-size: smaller;
    line-height: 1.5;
    justify-content: center;
    justify-self: self-start;
    padding: 0 1ch;
    text-shadow: 0 0 0 var(--bg-color);
  }

  [title="Expansion"] {
    background-color: #f3c435;
  }

  [title="Unopened"] {
    background-color: #b9ff48;
  }

  [title^="Portable"] {
    background-color: #c989d6;
  }
}
