@import "./animation.scss";
@import "./colors.scss";

$breakpoint-lg: 900px;

$global-max-width-sm: 62ch;
$global-max-width-lg: calc(#{$breakpoint-lg} - 4rem);

:global(*, *::before, *::after) {
  box-sizing: border-box;
}

:global(body) {
  background-color: $global-bg-color;
  color: #ffe;
  font: 300 16px/1.7 "Noto Sans", sans-serif;
  word-spacing: 0.05em;
  letter-spacing: 0.015em;
  padding: 0;
}

:global(.use-main-column-width) {
  margin: 0 auto;
  max-width: $global-max-width-lg;
}

:global(h1, h2) {
  font: 400 2.25rem/1 Catamaran, Georgia, "Times New Roman", serif;
  letter-spacing: 0.04em;
}

:global(h2) {
  font-size: 1.75rem;
  line-height: 1.2;
  position: relative;
  padding-top: 0.2em;
  text-transform: uppercase;
}

@media screen and (min-width: $breakpoint-lg) {
  :global(body) {
    font-size: 20px;
    font-weight: 300;
  }

  :global(h1) {
    font-size: 2.75rem;
  }

  :global(h2) {
    font-size: 2.25rem;
  }
}

:global(a) {
  &,
  &:visited,
  &:hover,
  &:active {
    color: $global-link-color;
  }
}

:global(a.is-current) {
  color: adjust-color($color: $global-link-color, $lightness: 30%);
}

:global(p + p) {
  //
  margin-top: 1.75rem;
}
